<div class="values">
    <div class="col-sm-6 col-md-8">
        <ul>
        {{#each}}
            <li>
                <pre><code>{{this}}</code></pre>
            </li>
        {{/each}}
        </ul>
    </div>
</div>

