{{#each store in stores}}
<div class='col-sm-6 col-md-3'>
    <div class="thumbnail">
        <h4>{{store.name}}</h4>
        <ul class='store-properties'>
            <li>Key path:
                {{#if store.keyPath}}
                    {{store.keyPath}}
                {{else}}
                    none
                {{/if}}</li>
            <li>Auto increment: {{store.autoIncrement}}</li>
        </ul>
    </div>
</div>
{{/each}}
