<form {{action 'selectDb' on='submit'}}>
    <h3>Select/create a database:</h3>
    <label>Name{{view Ember.TextField valueBinding='dbNameInput'}}</label>
    <button type='submit'>Go</button>
</form>
<br>
<button {{action 'populateDb'}}>Make up some data</button>
<br>

{{outlet}}
