<section class='tree col-md-2'>
    <ul class="tree">
        <li><a class='active' href="#">Stan</a>
            <ul>
                <li><a href="#">Video games</a></li>
                <li><a href="#">Chili recepies</a></li>
                <li><a href="#">Alien friends</a></li>
            </ul>
        </li>
        <li><a href="#">Kyle</a>
            <ul>
                <li><a href="#">Video games</a></li>
                <li><a href="#">Chili recepies</a></li>
                <li><a href="#">Alien friends</a></li>
            </ul>
        </li>
        <li><a href="#">Kenny</a>
            <ul>
                <li><a href="#">Video games</a></li>
                <li><a href="#">Chili recepies</a></li>
                <li><a href="#">Alien friends</a></li>
            </ul>
        </li>
        <li><a href="#">Cartman</a>
            <ul>
                <li><a href="#">Video games</a></li>
                <li><a href="#">Chili recepies</a></li>
                <li><a href="#">Alien friends</a></li>
            </ul>
        </li>
    </ul>
    <button class='btn btn-danger btn-xs'>Remove all databases</button>
</section>
<section class='details col-md-10'>
    <h2>Object Stores for Database Stan (version 2)<button class="btn btn-xs btn-danger">Delete database</button></h2>
    <div class='stores row'>
        <div class='col-sm-6 col-md-3'>
            <div class='thumbnail'>
                <h4>Video games</h4>
                <ul class='store-properties'>
                    <li>Key path: none</li>
                    <li>Auto increment: true</li>
                </ul>
                <h5>Indexes</h5>
                <ol>
                    <li><h6>Title</h6>
                        <ul>
                            <li>Key path: title</li>
                            <li>Multi entry: false</li>
                            <li>Unique: false</li>
                        </ul>
                    </li>
                    <li><h6>Purchase date</h6></li>
                </ol>
            </div>
        </div>
        <div class='col-sm-6 col-md-3'>
            <div class='thumbnail'>
                <h4>Video games</h4>
                <ul class='store-properties'>
                    <li>Key path: none</li>
                    <li>Auto increment: true</li>
                </ul>
                <h5>Indexes</h5>
                <ol>
                    <li><h6>Title</h6>
                        <ul>
                            <li>Key path: title</li>
                            <li>Multi entry: false</li>
                            <li>Unique: false</li>
                        </ul>
                    </li>
                    <li><h6>Purchase date</h6></li>
                </ol>
            </div>
        </div>
        <div class='col-sm-6 col-md-3'>
            <div class='thumbnail'>
                <h4>Video games</h4>
                <ul class='store-properties'>
                    <li>Key path: none</li>
                    <li>Auto increment: true</li>
                </ul>
                <h5>Indexes</h5>
                <ol>
                    <li><h6>Title</h6>
                        <ul>
                            <li>Key path: title</li>
                            <li>Multi entry: false</li>
                            <li>Unique: false</li>
                        </ul>
                    </li>
                    <li><h6>Purchase date</h6></li>
                </ol>
            </div>
        </div>
        <div class='col-sm-6 col-md-3'>
            <div class='thumbnail'>
                <h4>Video games</h4>
                <ul class='store-properties'>
                    <li>Key path: none</li>
                    <li>Auto increment: true</li>
                </ul>
                <h5>Indexes</h5>
                <ol>
                    <li><h6>Title</h6>
                        <ul>
                            <li>Key path: title</li>
                            <li>Multi entry: false</li>
                            <li>Unique: false</li>
                        </ul>
                    </li>
                    <li><h6>Purchase date</h6></li>
                </ol>
            </div>
        </div>
        <div class='col-sm-6 col-md-3'>
            <div class='thumbnail'>
                <h4>Video games</h4>
                <ul class='store-properties'>
                    <li>Key path: none</li>
                    <li>Auto increment: true</li>
                </ul>
                <h5>Indexes</h5>
                <ol>
                    <li><h6>Title</h6>
                        <ul>
                            <li>Key path: title</li>
                            <li>Multi entry: false</li>
                            <li>Unique: false</li>
                        </ul>
                    </li>
                    <li><h6>Purchase date</h6></li>
                </ol>
            </div>
        </div>
    </div>
</section>
